In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('./data/filtered_data2.csv')

# Prepare the Titles

In [51]:
# Define epochs and quantities for each epoch and texts for each epoch
title_texts = ['Trias', 'Jura', 'Křída', 'Paleogén', 'Neogén', 'Kvartér']
epochs = [[252, 201.4], [201.45, 143.1], [143.15, 66], [66.5, 23.05], [23.1, 2.5], [2.55, 0]]

# Create a new DataFrame with Age and Title columns
df_text = pd.DataFrame({'Age': df['Age']})

# Assign titles based on the epochs
df_text['Title'] = None
for i, (start, end) in enumerate(epochs):
    df_text.loc[(df_text['Age'] >= end) & (df_text['Age'] <= start), 'Title'] = title_texts[i]
print(df_text.loc[df_text["Age"]==202.0])

        Age  Title
1000  202.0  Trias

# Prepare the events and texts

In [ ]:
events_texts = ['K nejvýraznější události došlo před 94 Ma během jedno ze dvou nejteplejších období za celé Fanerozoikum. Aby takové klima mohlo fungovat tak se spekuluje o kombinaci vysoké koncentrace CO2, metanu a dalších skleníkových plynů a nízké odrazivosti zemského povrchu i atmosféry. Svou roli mohly sehrát i tzv. megahurikány, které dokázaly promíchat horkou atmosféru až k pólům. Po tomto termálním maximu teplota po zbytek křídy pomalu klesá. ',
                'Hladina moře je nejvyšší za celé druhohory a na konci Křídy dosahuje hladiny přesahující dnešní nejméně o 200 metrů',
                'K nejvýraznější došlo před 94 Ma během jedno ze dvou nejteplejších období za celé Fanerozoikum. Aby takové klima mohlo fungovat tak se spekuluje o kombinaci vysoké koncentrace CO2, metanu a dalších skleníkových plynů a nízké odrazivosti zemského povrchu i atmosféry. Svou roli mohly sehrát i tzv. megahurikány, které dokázaly promíchat horkou atmosféru až k pólům. Po tomto termálním maximu teplota po zbytek křídy pomalu klesá. ']
events = [[250,230],[200,195],[50,2]]
quantities = [['BIO_ExtinctionIntensity (%)', 'BIO_OriginationIntensity(%)', 'BIO_Difference_Cubic'],
              ['SEA_Modern land sea level  (C = 176.6 106km2/km)', 'TEM_GAT', 'TEM_dT'],
              ['CO2_pCO2 (ppm)', 'O2_Mid O2%']]

df_text['Event_text'] = ' '
for i, (start, end) in enumerate(events):
    df_text.loc[(df_text['Age'] >= end) & (df_text['Age'] <= start), 'Event_text'] = events_texts[i]


for column in df.columns:
    if column not in df_text.columns:
        df_text[column] = True  # Default to True for all columns
    for j, quantity_group in enumerate(quantities):
        if column in quantity_group:
            # Set to True only for the specific event range
            df_text.loc[(df_text['Age'] >= events[j][1]) & (df_text['Age'] <= events[j][0]), column] = True
        else:
            # Set to False outside the event range
            df_text.loc[(df_text['Age'] >= events[j][1]) & (df_text['Age'] <= events[j][0]), column] = False
            
print(df_text.loc[df_text["Age"]==210.0])

/tmp/ipykernel_13688/486859998.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_text.loc[(df_text['Age'] >= events[j][1]) & (df_text['Age'] <= events[j][0]), column] = False

       Age  Title Event_text  BIO_ExtinctionIntensity (%)  \
840  210.0  Trias                                    True

     BIO_OriginationIntensity(%)  BIO_Difference_Cubic  \
840                         True                  True

     SEA_Modern land sea level  (C = 176.6 106km2/km)  TEM_GAT  TEM_dT  \
840                                              True     True    True

     CO2_pCO2 (ppm)  ...  SR_Range_Normalized  LIP_LIP_PDF  MAG_INT_mean  \
840            True  ...                 True         True          True

     MAG_INT_std  MAG_POL_FREQUENCY  MAG_POL_FREQUENCY.3  ZIR_Count_PDF_d18O  \
840         True               True                 True                True

     ZIR_Interpolated_mean_d18O  ZIR_Count_PDF_Hf  ZIR_Interpolated_mean_Hf
840                        True              True                      True

[1 rows x 23 columns]

In [53]:
df_text

,Age,Title,Event_text,BIO_ExtinctionIntensity (%),BIO_OriginationIntensity(%),BIO_Difference_Cubic,SEA_Modern land sea level (C = 176.6 106km2/km),TEM_GAT,TEM_dT,CO2_pCO2 (ppm),...,SR_Range_Normalized,LIP_LIP_PDF,MAG_INT_mean,MAG_INT_std,MAG_POL_FREQUENCY,MAG_POL_FREQUENCY.3,ZIR_Count_PDF_d18O,ZIR_Interpolated_mean_d18O,ZIR_Count_PDF_Hf,ZIR_Interpolated_mean_Hf
0,252.0,Trias,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,251.95,Trias,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,251.9,Trias,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,251.85,Trias,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,251.8,Trias,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,0.2,Kvartér,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5037,0.15,Kvartér,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5038,0.1,Kvartér,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5039,0.05,Kvartér,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5040,0.0,Kvartér,,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [54]:
df_text.to_csv('data/texts.csv')