In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/filtered_data3.csv')

In [34]:
# Define epochs and quantities for each epoch and texts for each epoch
title_texts = ['Trias', 'Jura', 'Křída', 'Paleogén', 'Neogén', 'Kvartér']
epochs = [[252, 201.4], [201.45, 143.1], [143.15, 66], [66.5, 23.05], [23.1, 2.5], [2.55, 0]]

# Create a new DataFrame with Age and Title columns
df_text = pd.DataFrame({'Age': df['Age']})

# Assign titles based on the epochs
df_text['Title'] = None
for i, (start, end) in enumerate(epochs):
    df_text.loc[(df_text['Age'] >= end) & (df_text['Age'] <= start), 'Title'] = title_texts[i]
print(df_text.loc[df_text["Age"]==202.0])

        Age  Title
1000  202.0  Trias

In [ ]:
events_texts = ['Na konci triasu se také objevují Dinosauři a před 225 milióny let první savci',
                'Hladina moře je nejvyšší za celé druhohory a na konci Křídy dosahuje hladiny přesahující dnešní nejméně o 200 metrů',
                'K nejvýraznější došlo před 94 Ma během jedno ze dvou nejteplejších období za celé Fanerozoikum. Aby takové klima mohlo fungovat tak se spekuluje o kombinaci vysoké koncentrace CO2, metanu a dalších skleníkových plynů a nízké odrazivosti zemského povrchu i atmosféry. Svou roli mohly sehrát i tzv. megahurikány, které dokázaly promíchat horkou atmosféru až k pólům. Po tomto termálním maximu teplota po zbytek křídy pomalu klesá. ']
events = [[225,220],[140,110],[85,62]]

df_text['Event'] = ''
for i, (start, end) in enumerate(events):
    df_text.loc[(df_text['Age'] >= end) & (df_text['Age'] < start), 'Event'] = events_texts[i]
    
print(df_text)

         Age    Title Event
0     252.00    Trias
1     251.95    Trias
2     251.90    Trias
3     251.85    Trias
4     251.80    Trias
...      ...      ...   ...
5036    0.20  Kvartér
5037    0.15  Kvartér
5038    0.10  Kvartér
5039    0.05  Kvartér
5040    0.00  Kvartér

[5041 rows x 3 columns]